---
const props = Astro.props;
const dialogues = props.dialogues;
---
<style>
  .dialogues-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .avatar-container {
    display: flex;
    align-items: center;
  }
  .left {
    display: flex;
    align-items: center;
  }

  .left .avatar-container img {
    margin-right: 1rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .left.text-container {
    flex: 1;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .right .avatar-container img {
    margin-left: 1rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .right.text-container {
    flex: 1;
  }
</style>
<div class="dialogues-container">
  {dialogues.map((dialogue, index) => (
    <div class={`dialogue ${dialogue.alignment}`}>
      {dialogue.alignment === 'left'? (
        <>
          <div class="avatar-container">
            <img src={dialogue.avatar} alt={dialogue.speaker} />
          </div>
          <div class="text-container">
            <p>{dialogue.text}</p>
          </div>
        </>
      ) : (
        <>
          <div class="text-container">
            <p>{dialogue.text}</p>
          </div>
          <div class="avatar-container">
            <img src={dialogue.avatar} alt={dialogue.speaker} />
          </div>
        </>
      )}
    </div>
  ))}
</div>